<!doctype html>
<title>Big Man on Sub</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<link rel="stylesheet" type="text/css" href="index.css">
<body>
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo right">SubAnalysis</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="\search">Search</a></li>
				<li><a href="\about">About</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h1>Results</h1>
		<h3>Here's just a list of the top contributors to r/{{ sub }}</h3>
		<div class="row">
			<div class="col s6">
				<ul>
					{% for result in results %}
					<li>{{ result[0]}}: {{result[1]}}, {{result[2]}} </li><br>
					{% endfor %}
				</ul>
			</div>
			<div class="col s6">
				<table>
					<tr>
						<th>Username</th>
						<th>Post count</th>
						<th>Total score</th>
					</tr>
					{% for result in results %}
					<tr>
						<td>{{ result[0] }}</td>
						<td>{{ result[1] }}</td>
						<td>{{ result[2] }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</body>


