<!doctype html>
<html lang="en">
	{% include "head.html" %}
	<body>
		{% include "header.html" %}
		<br/>
		<div class="container">
			<h3>Top contributors to r/{{ sub }}</h3>
			<h4>Last {{limit}} submissions</h4>
			<div class="row">
				<div class="col-sm">
					<table class="table" data-toggle="table">
						<thead>
							<tr>
								<th data-width="25" data-sortable="true">Rank</th>
								<th data-sortable="true">Username</th>
								<th data-sortable="true">Post count</th>
								<th data-sortable="true" data-sort-order="desc">Post score</th>
								<th data-sortable="true">Post Efficiency</th>
							</tr>
						</thead>
						<tbody>
							{% for result in results %}
							<tr>
								<td id="rank"><strong>{{ int(result["rank"]) }}</strong></td>
								<td>{{ result["username"] }}</td>
								<td>{{ result["post_count"] }}</td>
								<td>{{ result["post_score"] }}</td>
								<td>{{ result["post_score"]/result["post_count"] | round(1, 'common') }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{% include "footer.html" %}
	</body>
</html>
