<!doctype html>
<html lang="en">
	{% include "head.html" %}
	<body>
		{% include "header.html" %}
		<br/>
		<div class="container">
			<h3>Advanced Search</h3>
			<form action="/results" method="GET">
			<div class="row">
					<div class="col-sm">
						<div class="form-group">
						<label for="sub">Subreddit name</label>
						<input type="text" name="sub" class="form-control" id="sub" aria-describedby="emailHelp" placeholder="r/Day6, r/analog, etc...">
						</div>
					</div>
					<div class="col-sm">
						<div class="form-group">
						<label for="num">Number of posts to look at</label>
						<input type="number" name="num" class="form-control" id="num" placeholder="100">
						</div>
					</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
		</div>
		{% include "footer.html" %}
	</body>
</html>
